---
layout: default
---

<div id="wrapper">
  <div class="container">
    <div id="main" class="row">
      <div id="metum" class="span4">
        <div class="box upper">
          <h1>{{ page.title }}</h1>
          <p class="meta">{{ page.date | date_to_string }}</p>
        </div>
        
        <div class="box lower">
          {{ page.side }}
        </div>
        
        <div class="opts">
          <a class="btn" href="{% if page.section_url %}{{ page.section_url }}{% else %}{{ site.url }}{% endif %}"><i class="icon-home"></i></a>
        </div>
      </div>

      <div id="content" class="span8">
        <div class="box">
          {{ content }}
          
          <div class="copyright">
            &copy;{{ page.date | date: '%Y' }} Ariff Azraai. Works of mine except where is noted.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
